* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: white;
  margin-bottom: 7rem;
}


h1 {
  margin-bottom: 15px;
}

.display-image {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
}

.navbar {
  background: #F7A100;
  color: #fff;
  height: 60px;
  position: sticky;
  top: 0;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: rgb(230, 204, 173);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  padding: 1rem;
}

.navbar ul li {
  margin-left: 20px;
}

.header {
  background-color: rgb(230, 204, 173);
  color: #fff;
  min-height: 400px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: 20px;
}

main ul {
  display: flex;
  list-style: none;
  padding: 10px;
  justify-content: space-between;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: white;
  text-align: center;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.354);
}

footer ul {
  display: flex;
  list-style: none;
  padding: 5px;
  justify-content: space-around;
}

.adres {
  margin-top: -15px;
  margin-bottom: 10px;
}

.color {
  color: #0071B3;
}


hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}




.like-button {
  background-color: #F7A100;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.like-button:hover {
  background-color: #db8e00
}

.like-button:active {
  background-color: #db8e00;
  transform: translateY(3px);
}



.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  position: fixed;
}

.progress-bar {
  height: 8px;
  background: #db8e00;
  width: 0%;
}